doctype html
html(lang="ko")
    head
        meta(charset="utf-8")
        title SMART HOME
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/stylesheets/default.css")
        link(rel="stylesheet" href="/stylesheets/home.css")
        script(src="/javascripts/home.js")
        //link(rel="icon" href="home.ico")
        script(src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.js")
        script(src="/javascripts/donut_graph.js")
        script(src="/javascripts/7bar_graph.js")
        script(src="/javascripts/line_graph.js")
        script(src="/javascripts/today_bar_graph.js")

        
    body
        //- div.m_home_toggle
        //-     button.toggle_user(type="button")

        img.bg_img(src="/images/bg_home.jpg" alt="홈 화면 이미지")
        div.home_box
            div.home_list
                h1.home_tit SMART HOME
                //- ul
                //-     li 
                //-         a.on(type="button") 홈
                //-     li
                //-         a(type="button") 거실
                //-     li 
                //-         a(type="button") 주방
                //-     li 
                //-         a(type="button") 침실 1
                //-     li 
                //-         a(type="button") 침실 2
                //-     li 
                //-         a(type="button") 욕실

                div.home_toggle
                    div.home_info
                        p 2024년 06월 21일
                        p
                            span 사용자 
                            | 님    
                    button#homeStopStart.home_stop_start.stop_btn(type="button")
                    label(for="user")
                        input(type="checkbox" id="admin_move" role="switch")

            //- p.time_txt 2024년 06월 21일
            div.body_flex
                section.energy_box
                    article.energy_list_box
                        h2 최근 3시간 에너지 사용량
                        div.flex
                            div#ele_graph.graph_on
                            div#gas_graph.graph_on
                            div#water_graph.graph_on
                    article.energy_list_box
                        div.flex
                            h2 오늘 시간대별 에너지 사용량
                            div.energy_list_tab
                                ul
                                    li 
                                        button#day_ele_Data_btn.on(type="button") 전기
                                    li 
                                        button#day_gas_Data_btn(type="button") 가스
                                    li 
                                        button#day_water_Data_btn(type="button") 수도
                        div.graph_box
                            div#day_ele_graph.graph.graph_on
                            div#day_gas_graph.graph
                            div#day_water_graph.graph
                    article.energy_list_box
                        div.flex
                            h2 7일 에너지 사용량
                            div.energy_list_tab
                                ul
                                    li 
                                        button#month_ele_Data_btn.on(type="button") 전기
                                    li 
                                        button#month_gas_Data_btn(type="button") 가스
                                    li 
                                        button#month_water_Data_btn(type="button") 수도
                        div.graph_box
                            div#month_ele_graph.graph.graph_on
                            div#month_gas_graph.graph
                            div#month_water_graph.graph
                    article.energy_list_box
                        h2 현재 누적 예상 금액
                        div.flex
                            div#donut_graph.graph_on_donut
                            div.graph_txt
                                p.money_elec 전기
                                    span#money_elec 
                                    | 원
                                p.money_gass 가스
                                    span#money_gass 
                                    | 원
                                p.money_water 수도
                                    span#money_water 
                                    | 원
                                p.total_txt 총 예상 금액
                                    span#money_result 
                                    | 원
                aside.environment_box
                    div.weather_box
                        div#weather_icon.weather_icon
                        div.weather_txt_box
                            p.weather_address 경기도 안산시 단원구
                            p.weather_txt 
                                span 20
                                | °C
                    div.environment_list
                        p.tit 실내 온도
                        p.txt
                            span#average_temperature
                            | °C
                    div.environment_list
                        p.tit 습도
                        p.txt 
                            span#average_humidity
                            | %
                    div.environment_list
                        p.tit 공기청정도
                        p#weather_color.txt.environment_icon.soso
                            span#average_air_condition