@charset "UTF-8";
.home_box {
  margin: 0.5rem auto;
  width: 90%;
  max-width: 12rem;
  padding: 0.2rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  /* blur 배경 색상처리 */
  background: rgba(0, 0, 0, 0.32);
  box-shadow: 0 0.04rem 0.3rem rgba(0, 0, 0, 0.1);
  border: 0.01rem solid #D9D9D9;
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
}
.home_box .home_list {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -0.08rem;
}
.home_box .home_list .home_tit {
  padding-left: 0.7rem;
  font-size: 0;
  font-weight: 600;
  line-height: 0.6rem;
  color: #EDEDED;
}
.home_box .home_list .home_tit:before {
  content: "";
  position: absolute;
  top: 0.17rem;
  left: 0.2rem;
  width: 0.25rem;
  height: 0.23rem;
  background-image: url(../images/icon/icon_home.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.home_box .home_list .home_toggle {
  display: flex;
}
.home_box .home_list .home_toggle .home_info {
  display: inline-block;
  margin: 0.12rem 0.1rem;
}
.home_box .home_list .home_toggle .home_info p {
  font-size: 0.14rem;
  text-align: right;
  color: #EDEDED;
}
.home_box .home_list .home_toggle .home_info p span {
  font-weight: 700;
  color: #EDEDED;
}
.home_box .home_list .home_toggle .home_stop_start {
  display: inline-block;
  min-width: 0.4rem;
  height: 0.4rem;
  margin: 0.1rem 0.1rem 0.1rem 0;
  background-color: rgba(95, 95, 95, 0.7);
  background-repeat: no-repeat;
  border-radius: 50%;
}
.home_box .home_list .home_toggle .home_stop_start:hover {
  background-color: #5C5C5C;
}
.home_box .home_list .home_toggle .stop_btn {
  background-image: url(../images/icon/icon_stop.png);
  background-position: 0.12rem;
  background-size: 0.18rem;
}
.home_box .home_list .home_toggle .start_btn {
  background-image: url(../images/icon/icon_start.png);
  background-position: 0.15rem;
  background-size: 0.1rem 0.2rem;
}
.home_box .home_list .home_toggle label {
  float: right;
}
.home_box .home_list .home_toggle label input[type=checkbox] {
  appearance: none;
  position: relative;
  width: 0.76rem;
  height: 0.4rem;
  margin: 0.1rem 0;
  background: rgba(95, 95, 95, 0.7);
  border-radius: 1.25rem;
  border: none;
  cursor: pointer;
}
.home_box .home_list .home_toggle label input[type=checkbox]:before {
  content: "";
  position: absolute;
  top: 0.05rem;
  left: 0.05rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: #A8A8A8;
  transition: left 250ms linear;
  background-image: url(../images/icon/icon_user.png);
  background-position: 0.07rem;
  background-repeat: no-repeat;
  background-size: 0.15rem;
}
.home_box .home_list .home_toggle label input[type=checkbox]:checked::before {
  background-color: #A8A8A8;
  left: 0.4rem;
  background-image: url(../images/icon/icon_admin.png);
  background-position: 0.08rem 0.065rem;
  background-size: 0.18rem;
}
.home_box .time_txt {
  width: 100%;
  margin: 0.2rem 0;
  text-align: center;
  font-size: 0.2rem;
  font-weight: 400;
  color: #EDEDED;
}
.home_box .energy_box .energy_list_box {
  margin-bottom: 0.2rem;
  padding: 0.2rem;
  border-radius: 0.15rem;
  background: rgba(197, 197, 197, 0.6);
  border: 0.01rem solid #D9D9D9;
}
.home_box .energy_box .energy_list_box h2 {
  margin-left: 0.05rem;
  margin-bottom: 0.1rem;
  line-height: 0.3rem;
  font-size: 0.16rem;
  font-weight: 600;
  color: #EDEDED;
}
.home_box .energy_box .energy_list_box .flex {
  display: flex;
  justify-content: space-between;
}
.home_box .energy_box .energy_list_box .flex .energy_list_tab {
  width: 45%;
}
.home_box .energy_box .energy_list_box .flex .energy_list_tab ul {
  width: 100%;
  background: rgba(95, 95, 95, 0.7);
  border-radius: 0.15rem;
  display: flex;
  justify-content: space-around;
}
.home_box .energy_box .energy_list_box .flex .energy_list_tab ul li {
  width: 100%;
  margin: 0.03rem;
  text-align: center;
}
.home_box .energy_box .energy_list_box .flex .energy_list_tab ul li button {
  width: 100%;
  padding: 0.05rem 0;
  color: #EDEDED;
  font-size: 0.12rem;
  font-weight: 500;
}
.home_box .energy_box .energy_list_box .flex .energy_list_tab ul li .on {
  background: #A8A8A8;
  border-radius: 0.15rem;
  color: #EDEDED;
}
.home_box .energy_box .energy_list_box .flex .energy_list_tab ul li:hover {
  background: #A8A8A8;
  border-radius: 0.15rem;
  color: #EDEDED;
}
.home_box .energy_box .energy_list_box .flex .graph_on {
  width: 100%;
  height: 2rem;
  margin-right: 0.1rem;
  background: #94928E;
  border-radius: 0.1rem;
  border: 0.01rem solid #EDEDED;
}
.home_box .energy_box .energy_list_box .flex .graph_on:last-child {
  margin-right: 0;
}
.home_box .energy_box .energy_list_box .flex [class$=_on_donut] {
  position: relative;
  width: 2rem;
  height: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.home_box .energy_box .energy_list_box .flex [class$=_on_donut] .total_txt {
  position: absolute;
  left: 0.6rem;
  top: 0.83rem;
  width: 0.7rem;
  font-size: 0.14rem;
  text-align: center;
  color: #FFF;
}
.home_box .energy_box .energy_list_box .flex [class$=_on_donut] .total_txt span {
  font-weight: 500;
  color: #FFF;
}
.home_box .energy_box .energy_list_box .flex .graph_txt {
  padding-top: 0.45rem;
}
.home_box .energy_box .energy_list_box .flex .graph_txt p {
  font-size: 0.16rem;
  line-height: 0.3rem;
  text-align: right;
  color: #EDEDED;
}
.home_box .energy_box .energy_list_box .flex .graph_txt p span {
  padding-left: 0.1rem;
  color: #EDEDED;
}
.home_box .energy_box .energy_list_box .flex .graph_txt [class^=money_] {
  padding-left: 0.1rem;
  text-align: center;
}
.home_box .energy_box .energy_list_box .flex .graph_txt [class^=money_] span {
  display: inline-block;
  width: 0.6rem;
  text-align: right;
}
.home_box .energy_box .energy_list_box .flex .graph_txt .money_elec:before {
  content: "";
  display: inline-block;
  width: 0.1rem;
  height: 0.1rem;
  margin-right: 0.1rem;
  background: #6EFF9B;
}
.home_box .energy_box .energy_list_box .flex .graph_txt .money_gass:before {
  content: "";
  display: inline-block;
  width: 0.1rem;
  height: 0.1rem;
  margin-right: 0.1rem;
  background: #62AAFF;
}
.home_box .energy_box .energy_list_box .flex .graph_txt .money_water:before {
  content: "";
  display: inline-block;
  width: 0.1rem;
  height: 0.1rem;
  margin-right: 0.1rem;
  background: #25319F;
}
.home_box .energy_box .energy_list_box .none {
  display: block;
  justify-content: unset;
}
.home_box .energy_box .energy_list_box .graph_box {
  position: relative;
  width: 100%;
  height: 2rem;
}
.home_box .energy_box .energy_list_box .graph_box [class^=graph] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background: #94928E;
  border-radius: 0.1rem;
  border: 0.01rem solid #EDEDED;
}
.home_box .energy_box .energy_list_box .graph_box [class$=_on] {
  z-index: 10;
}
.home_box .environment_box {
  width: 100%;
  margin-top: 0.1rem;
  padding: 0.2rem;
  box-sizing: border-box;
  background: rgba(68, 68, 68, 0.7);
  border: 0.01rem solid #D9D9D9;
  border-radius: 0.15rem;
}
.home_box .environment_box .weather_box {
  display: flex;
  margin-left: 0.1rem;
}
.home_box .environment_box .weather_box .weather_icon {
  width: 40%;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.home_box .environment_box .weather_box .weather_txt_box {
  width: 60%;
}
.home_box .environment_box .weather_box .weather_txt_box .weather_address {
  padding: 0.1rem 0;
  text-align: center;
  font-size: 0.16rem;
  color: #EDEDED;
}
.home_box .environment_box .weather_box .weather_txt_box .weather_address::before {
  content: "";
  display: inline-block;
  margin-right: 0.05rem;
  width: 0.15rem;
  height: 0.15rem;
  background-image: url(../images/icon/icon_location.png);
}
.home_box .environment_box .weather_box .weather_txt_box .weather_txt {
  margin-left: 0.15rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 200;
  color: #EDEDED;
}
.home_box .environment_box .weather_box .weather_txt_box .weather_txt span {
  font-size: 0.6rem;
  font-weight: 400;
  color: #EDEDED;
}
.home_box .environment_box .environment_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.1rem;
  margin-top: 0.2rem;
  box-sizing: border-box;
  background: rgba(142, 142, 142, 0.6);
  border: 0.01rem solid #D9D9D9;
  border-radius: 0.15rem;
  text-align: center;
}
.home_box .environment_box .environment_list:last-child {
  margin-bottom: 0;
}
.home_box .environment_box .environment_list .tit {
  width: 50%;
  font-size: 0.18rem;
  line-height: 0.8rem;
  font-weight: 600;
  color: #FFF;
}
.home_box .environment_box .environment_list .txt {
  position: relative;
  width: 50%;
  font-size: 0.3rem;
  color: #EDEDED;
}
.home_box .environment_box .environment_list .txt span {
  width: 50%;
  font-size: 0.4rem;
  line-height: 0.8rem;
  font-weight: 500;
  color: #EDEDED;
}
.home_box .environment_box .environment_list .environment_icon {
  margin: 0 auto;
  width: 0.8rem;
  border-radius: 50%;
}
.home_box .environment_box .environment_list .environment_icon span {
  font-weight: 500;
  font-size: 0.16rem;
}
.home_box .environment_box .environment_list .verygood {
  background: linear-gradient(#6A8BFF, #AFC4FF);
}
.home_box .environment_box .environment_list .good {
  background: linear-gradient(#2DA6FF, #95D3FF);
}
.home_box .environment_box .environment_list .soso {
  background: linear-gradient(#6BC334, #AEFF7C);
}
.home_box .environment_box .environment_list .bad {
  background: linear-gradient(#EDB021, #FFDC8A);
}
.home_box .environment_box .environment_list .verybad {
  background: linear-gradient(#FF574B, #FFB5B0);
}

@media all and (min-width: 480px) {
  .flex.none {
    display: flex !important;
    justify-content: center !important;
  }
  .flex.none [class$=_on_donut] {
    left: 0 !important;
    transform: none !important;
  }
}
@media all and (min-width: 740px) {
  [class^=graph] {
    padding: 0 0.3rem;
    box-sizing: border-box;
  }
  .graph_on_donut {
    padding: 0;
  }
}
@media all and (min-width: 930px) {
  .home_list .home_tit {
    font-size: 0.22rem !important;
  }
  .time_txt {
    display: none;
  }
  .body_flex .energy_box {
    display: flex;
    flex-wrap: wrap;
  }
  .body_flex .energy_box .energy_list_box {
    flex: 1 1 40%;
    margin-left: 0.2rem;
  }
  .body_flex .energy_box .energy_list_box:nth-child(2n-1) {
    margin-left: 0;
  }
  .body_flex .energy_box .energy_list_box .flex {
    justify-content: space-between !important;
  }
  .body_flex .energy_box .m0 {
    margin: 0 !important;
  }
  .body_flex .flex_none {
    display: block !important;
  }
  .body_flex .environment_box {
    display: flex;
    margin-top: 0 !important;
  }
  .body_flex .environment_box .weather_box {
    display: unset !important;
    width: 11rem;
  }
  .body_flex .environment_box .weather_box .weather_icon {
    width: 100% !important;
  }
  .body_flex .environment_box .weather_box .weather_txt_box {
    width: 100% !important;
  }
  .body_flex .environment_box .environment_list {
    display: unset !important;
    margin-top: 0 !important;
    margin-left: 0.2rem;
  }
  .body_flex .environment_box .environment_list p {
    width: 100% !important;
    line-height: 0.75rem !important;
  }
  .body_flex .environment_box .environment_list .environment_icon {
    width: 0.83rem !important;
  }
  [class^=graph] {
    padding: 0;
  }
}
@media all and (min-width: 1200px) {
  .home_box {
    width: 100%;
    margin-top: 0.8rem;
  }
  .home_box .body_flex {
    display: flex;
  }
  .home_box .body_flex .energy_box {
    width: 70%;
  }
  .home_box .body_flex .energy_box .energy_list_box:nth-child(n+3) {
    margin-bottom: 0;
  }
  .home_box .body_flex .environment_box {
    width: 30%;
    display: unset;
    margin-left: 0.2rem;
  }
  .home_box .body_flex .environment_box .weather_box {
    display: flex !important;
    width: 100%;
    padding: 0.3rem 0;
  }
  .home_box .body_flex .environment_box .weather_box .weather_icon {
    width: 40% !important;
  }
  .home_box .body_flex .environment_box .weather_box .weather_txt_box {
    width: 60% !important;
  }
  .home_box .body_flex .environment_box .environment_list {
    margin-top: 0.2rem !important;
    display: flex !important;
    margin-bottom: 0 !important;
    margin-left: 0;
  }
  .home_box .body_flex .environment_box .environment_list p {
    width: 50% !important;
    line-height: 0.8rem !important;
  }
  .home_box .body_flex .environment_box .environment_list .environment_icon {
    width: 0.85rem !important;
  }
}

/*# sourceMappingURL=home.css.map */
